.chat-area {
  width: 100%;
  height: 75vh;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(233, 22, 22, 0.1);
  overflow-y: scroll;
  box-sizing: border-box;
}

.messages {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  max-width: 70%;
  max-height: 40vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #f2f2f2 #ede5e5;
}
/* Track */
.message::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
.message::-webkit-scrollbar-thumb {
  background-color: #ddd8d8;
  border-radius: 10px;
}

/* Handle on hover */
.message::-webkit-scrollbar-thumb:hover {
  background-color: #ddd8d8;
}


.sender {
  color: rgb(0, 0, 0);
  text-align: right;
  width: fit-content;
  float: right;
}
 .message-sender-color{
  background-color: rgb(155, 187, 238);
 }

.receiver {
  color: rgb(1, 1, 1);
  align-self: flex-start;
  text-align: left;
  width: fit-content;
}
.message-receiver-color{
  background-color: rgb(179, 237, 179);
 }

.date-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.date {
  color: gray;
  background-color: lightgray;
  padding: 5px;
  border-radius: 5px;
}

.message-text {
  margin: 5px 0;
  font-size: 20px;
}

.message-img {
  margin: 5px;
  width: fit-content;
  max-width: 50%;
  height: auto; 
  max-height: 50vh;
}

.time {
  font-size: 15px;
  color: #4d4c4c;
}

.empty-messages {
  display: flex;
  justify-content: center;
  margin-top: 50vh;
  font-size: larger;
  color: #bbbaba;
}

.input-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 2%;
  width: 70%;
  padding: 10px; /* Add padding for spacing */
  background-color: #fff; /* Match chat area background */
  box-shadow: 0px 2px 5px rgba(233, 22, 22, 0.1);
}

.input-area input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px; /* Add margin for spacing between input and upload button */
}

.upload-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
}

.input-area button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
}

/* Your CSS */

.file-upload-label {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  padding: 5px 15px;
}

.file-upload-label input[type="file"] {
  display: none;
}

.file-upload-icon {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
}

/* Style for when hovering over the label */
.file-upload-label:hover {
  background-color: #0056b3;
}
