/* TopBar.css */
.topbar {
  width: 100%; /* TopBar takes 70% of the page width */
  height: 10vh; /* Sidebar takes 10% viewport */
  background-color: #3e3d3d;
  color: #fff;
  padding: 10px;
  text-align: center;
  box-sizing: border-box; /* Ensure padding is included in the height */
}
